version: '2'
services:
  web:
    build: .
    ports:
     - "5000:5000"
    volumes:
     - .:/app
    links:
     - "marmotta"
    entrypoint: ./wait-for-it.sh -h http://marmotta:8080/marmotta -t 60 -- python3 run.py
  marmotta:
    image: "apache/marmotta:latest"
